dotNetOnContainers/.idea
dotNetOnContainers/Catalog.API/bin
dotNetOnContainers/Catalog.API/obj
dotNetOnContainers/Catalog.UnitTests/bin
dotNetOnContainers/Catalog.UnitTests/obj
dotNetOnContainers/Catalog.FunctionalTests/bin
dotNetOnContainers/Catalog.FunctionalTests/obj
dotNetOnContainers/Basket.API/bin
dotNetOnContainers/Basket.API/obj
dotNetOnContainers/Basket.UnitTests/bin
dotNetOnContainers/Basket.UnitTests/obj
dotNetOnContainers/Basket.FunctionalTests/bin
dotNetOnContainers/Basket.FunctionalTests/obj
dotNetOnContainers/.vs
dotNetOnContainers/EventBus/bin
dotNetOnContainers/EventBus/obj
dotNetOnContainers/EventBusRabbitMQ/bin
dotNetOnContainers/EventBusRabbitMQ/obj
dotNetOnContainers/Basket.API/.idea
dotNetOnContainers/Ordering.API/.idea
dotNetOnContainers/Ordering.API/bin
dotNetOnContainers/Ordering.API/obj
dotNetOnContainers/Ordering.UnitTests/bin
dotNetOnContainers/Ordering.UnitTests/obj
dotNetOnContainers/Ordering.FunctionalTests/bin
dotNetOnContainers/Ordering.FunctionalTests/obj
dotNetOnContainers/Ordering.Domain/bin
dotNetOnContainers/Ordering.Domain/obj
dotNetOnContainers/Ordering.Domain/.idea
dotNetOnContainers/Ordering.Infrastructure/bin
dotNetOnContainers/Ordering.Infrastructure/obj
dotNetOnContainers/Ordering.Infrastructure/.idea
dotNetOnContainers/IntegrationEventLog/bin
dotNetOnContainers/IntegrationEventLog/obj